.umis-website__nav-fixed {
  position: fixed;
  height: 100vh;
  background: #3a3f51;
  z-index: 10;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0;
  }
  .el-menu {
    border-right: 0;
  }
}
.umis-website__goto-edit {
  position: fixed;
  bottom: 100px;
  right: 100px;
  z-index: 9999;
}
.umis-website__nav-poppet {
  height: 100%;
  background: #3a3f51;
  transition: 0.3s width ease-in-out;
}
.umis-website__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dcdfe6;
  line-height: 60px;
  text-align: left;
  font-size: 12px;
  background-color: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  .el-button {
    border: 0 !important;
  }
}
.umis-website__header__logo {
  height: 59px;
  border-bottom: 1px solid #dcdfe6;
  color: white;
  text-align: center;
  line-height: 59px;
  font-size: 20px;
}
.umis-website__main {
  overflow: hidden !important;
  &.preview {
    padding: 0;
  }
}
.umis-website__drawer {
  background-color: #282a36 !important;
  .el-drawer__header {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 20px 20px 15px 20px;
    border-bottom: 0;
    background: #282a36;
    color: #72767b;
  }
  .umis-popup__container__body {
    padding: 0;
  }
}
.umis-website__simple-demo {
  padding: 10px 0;
  margin: 0 auto;
}
.umis-website__code-viwer {
  height: 200px;
  padding: 10px 20px;
  .monaco-editor {
    height: 180px;
  }
}
*:fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
  background-color: #fff;
  &::backdrop {
    background-color: #fff;
  }
}
.el-loading-spinner {
  .circular {
    background-image: url('../imgs/loading.svg');
    background-position: center;
    background-size: cover;
    animation: loading-rotate 1s linear infinite;
    animation-direction: reverse;
  }
  .path {
    display: none;
  }
}
