.umis-demo_doc_header,
.umis-demo_doc_footer {
  background: #b3c0d1;
  color: #333;
}
.umis-demo_doc-aside {
  padding: 20px 40px;
  background: #d3dce6;
  color: #333;
}
.umis-demo_doc-main {
  background: #e9eef3;
  color: #333;
}
.umis-demo_doc-image {
  height: 200px;
  width: 200px;
}
