.i-website__error {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 60px 16%;
  overflow: hidden;
}
.i-website__error__info {
  flex: 1;
  height: 350px;
  padding-top: 90px;
  text-align: left;
}
.i-website__error__status {
  color: var(--el-color-info);
  font-size: 55px;
  animation-delay: .2s;
  animation-name: error-msg;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.i-website__error__title {
  font-size: 20px;
  color: var(--el-text-color-regular);
  margin: 15px 0 5px;
  animation-delay: .2s;
  animation-name: error-msg;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.i-website__error__msg {
  color: var(--el-text-color-secondary);
  font-size: 12px;
  margin-bottom: 30px;
  animation-delay: .2s;
  animation-name: error-msg;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.i-website__error__picture {
  flex: 1;
  height: 350px;
  animation-delay: .2s;
  animation-name: error-img;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
