html,
body,
.i-website-app__container,
.i-home__playground {
  height: 100%;
}
html {
  &.mobile {
    &.playground {
      height: 100%;
      body {
        width: 1440px;
        &.horizontal {
          position: relative;
          height: 100%;
          transform: rotate(90deg);
          overflow-y: hidden;
        }
      }
    }
  }
}
.i-home__playground {
  overflow-y: hidden;
  .el-divider--vertical {
    height: 100%;
    margin: 0;
  }
  .i-editor__container {
    width: 50%;
    padding-right: 10px;
  }
  .i-toolmaker__container {
    border: 1px dashed var(--el-border-color-lighter) !important;
    &::before {
      position: absolute;
      content: '点击元素进行编辑';
      color: rgba(144, 147, 153, 0.3);
      left: 16px;
      bottom: 12px;
      font-size: 20px;
      z-index: 10;
    }
  }
}
.i-website-app__container {
  padding: 0 10px;
}
.i-home__playground__body {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.i-home__playground__preview {
  width: 50%;
  padding-left: 10px;
  .i-page__container {
    border: 1px solid var(--el-border-color-lighter);
    padding: 6px;
    height: calc(100vh - 110px);
    overflow: auto;
  }
  .i-page-container__pop {
    display: none;
  }
}
