html {
  .el-message {
    top: 70px !important;
  }
  &.mobile {
    .i-website__container {
      flex-direction: row-reverse;
    }
    .i-website__breadcrumb {
      font-size: 12px;
    }
    .i-website__header {
      display: flex;
      align-items: center;
      height: 100%;
    }
    .i-website__header__service {
      height: 100%;
      .i-action,
      .i-avatar__container {
        display: none;
      }
    }
    .i-website__header__dropdown {
      left: 0 !important;
      width: 100% !important;
    }
    .i-website__aside {
      position: fixed;
      z-index: 2022;
      &.width-64 {
        visibility: hidden;
      }
      &.width-200 {
        visibility: visible;
      }
    }
  }
  &.pc {
    .i-website__header__dropdown {
      .el-dropdown-menu {
        .el-dropdown-menu__item {
          &:nth-of-type(1),
          &:nth-of-type(2),
          &:nth-of-type(3) {
            display: none;
          }
        }
      }
    }
  }
}
