html {
  &.mobile {
    .i-website__container {
      flex-direction: row-reverse;
    }
    .i-website__breadcrumb {
      font-size: 12px;
    }
    .i-website__header__service {
      height: 100%;
      .i-component__fragment,
      .i-avatar__container {
        display: none;
      }
    }
    .i-website__header__dropdown {
      left: 0 !important;
      width: 100% !important;
    }
    .i-website__aside {
      position: fixed;
      z-index: 2022;
      &.width-64 {
        visibility: hidden;
      }
      &.width-200 {
        visibility: visible;
      }
    }
    .i-crud__container__tools {
      .el-button {
          span:last-child {
            display: none;
          }
      }
    }
    .i-form__container__viewer {
      position: relative;
    }
    .i-website__footer {
      font-size: 14px;
    }
    .i-form__container {
      .i-form__list {
        .el-radio-group {
          flex-direction: column;
        }
        .i-list__item {
          width: 100% !important;
        }
      }
      .el-form-item {
        flex-direction: column;
        .el-form-item__label-wrap {
          margin-left: 0 !important;
          margin-bottom: 4px;
        }
        .el-form-item__label {
          text-align: left;
        }
      }
      &.el-form--inline {
        .el-form-item {
          display: flex;
        }
      }
    }
    .i-popup__container {
      width: 100% !important;
    }
    .el-message {
      min-width: 95%;
    }
  }
  &.pc {
    .i-website__header__dropdown {
      .el-dropdown-menu {
        .el-dropdown-menu__item {
          &:nth-of-type(1),
          &:nth-of-type(2),
          &:nth-of-type(3) {
            display: none;
          }
        }
      }
    }
  }
}
