html {
  .el-message {
    top: 70px !important;
  }
  &.mobile {
    .i-component__fragment {
      .el-button {
        -webkit-tap-highlight-color: transparent;
        appearance: none;
      }
    }
    .i-website__container {
      flex-direction: row-reverse;
    }
    .i-website__breadcrumb {
      font-size: 12px;
    }
    .i-website__header {
      display: flex;
      align-items: center;
    }
    .i-website__header__service {
      height: 100%;
      .i-component__fragment,
      .i-avatar__container {
        display: none;
      }
    }
    .i-website__header__dropdown {
      left: 0 !important;
      width: 100% !important;
    }
    .i-website__aside {
      position: fixed;
      z-index: 2022;
      &.width-64 {
        visibility: hidden;
      }
      &.width-200 {
        visibility: visible;
      }
    }
    .i-header__container {
      .i-header__container__tags {
        display: none;
      }
    }
    .i-header__container.has-tags + .i-main__container {
      margin-top: 0;
    }
    .i-crud__container__tools {
      .el-button {
        span:nth-child(2) {
          display: none;
        }
      }
    }
    .i-form__container__viewer {
      position: relative;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .i-website__footer {
      font-size: 14px;
    }
    .i-form__container {
      .i-form__list {
        .el-radio-group {
          flex-direction: column;
        }
        .i-list__item {
          width: 100% !important;
        }
      }
      .i-form__combo__item {
        flex-direction: column;
      }
      .el-form-item__content {
        .el-select,
        .el-input-number,
        .el-input__wrapper {
          width: 100%;
        }
        .i-component__fragment {
          width: 100%;
          .el-button {
            width: 100%;
          }
        }
        .i-component__fragment + .i-component__fragment {
          margin-top: 10px;
          margin-left: 0;
        }
      }
      .el-form-item {
        flex-direction: column;
        .el-form-item__content,
        .el-form-item__label-wrap {
          margin-left: 0 !important;
          margin-bottom: 4px;
        }
        .el-form-item__label {
          text-align: left;
          justify-content: flex-start;
        }
      }
      &.el-form--inline {
        .el-form-item {
          display: flex;
          margin-right: 0;
        }
      }
      &.actions-fixed {
        .i-form__actions--inline {
          padding: 5px 0;
          .el-form-item__content {
            justify-content: space-evenly;
            padding: 0 10px;
            .i-component__fragment {
              flex: 1;
              margin: 0 5px;
            }
          }
        }
      }
    }
    .i-form__datepicker__popper {
      left: 0 !important;
      border-left: 0 !important;
      border-right: 0 !important;
      .el-picker-panel__content,
      .el-picker-panel {
        width: auto;
      }
    }
    .i-popup__container {
      &.el-dialog {
        width: 80% !important;
      }
      &.el-drawer {
        width: 100% !important;
      }
    }
    .i-steps__container {
      .el-step__title {
        font-size: 14px;
      }
    }
    .el-message {
      min-width: 95%;
    }
    .i-toolmaker__drawer__container {
      width: 100% !important;
    }
  }
  &.pc {
    .i-website__header__dropdown {
      .el-dropdown-menu {
        .el-dropdown-menu__item {
          &:nth-of-type(1),
          &:nth-of-type(2),
          &:nth-of-type(3) {
            display: none;
          }
        }
      }
    }
  }
}
