.i-website-app__container {
  height: 100vh;
}
.i-website__header__logo {
  height: 60px;
  color: white;
  text-align: center;
  line-height: 60px;
  background: #3a3f51;
  transition: 0.3s width ease-in-out;
}
.i-website__header__service {
  .i-component__fragment {
    margin-left: 20px;
  }
}
.i-website__body {
  height: calc(100% - 60px);
  overflow: hidden;
  .i-website__nav-fixed {
    position: fixed;
    top: 0;
    height: 100vh;
    background: #3a3f51;
    overflow-y: auto;
    transition: 0.3s width ease-in-out;
    z-index: 2;
    &::-webkit-scrollbar {
      width: 0;
    }
    .el-menu {
      border-right: 0;
    }
    .i-website_menu-vertical {
      .el-sub-menu .el-menu-item {
        background-color: rgba(0, 0, 0, 0.3);
        &::after {
          position: absolute;
          left: 0;
          bottom: 0;
          top: 0;
          height: 0;
          width: 0;
          content: '';
          display: block;
          background-color: currentColor;
          transform: scale(0);
          transition: transform 0.3s;
        }
        &:hover {
          background-color: #001528;
          &::after {
            height: 100%;
            width: 3px;
            transform: scale(1);
          }
        }
        .el-submenu .el-menu-item {
          min-width: 210px;
          background-color: #1f2d3d;
        }
      }
      .icon {
        margin-right: 5px;
        color: white;
      }
      &:not(.el-menu--collapse) {
        width: 200px;
      }
    }
  }
  .i-website__footer {
    height: 50px;
    border-top: 1px dashed var(--el-border-color);
    line-height: 50px;
    text-align: center;
    color: var(--el-text-color-secondary);
  }
}
.i-website__header__wrapper {
  width: 100%;
  .i-website__header {
    position: relative;
    height: 60px;
    border-bottom: 1px solid #dcdfe6;
    line-height: 60px;
    text-align: left;
    font-size: 12px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    .el-button {
      border: 0;
    }
    .i-website__header__main {
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
      .i-avatar__container {
        margin-left: 20px;
        vertical-align: middle;
        img {
          width: 40px;
        }
      }
      .i-dropdown__container {
        vertical-align: middle;
      }
    }
  }
}

.i-website__nav-poppet {
  height: 100%;
  background: #3a3f51;
  transition: 0.3s width ease-in-out;
}
.i-website__breadcrumb {
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}
.i-website__drawer {
  .el-drawer__header {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 20px 20px 15px 20px;
    border-bottom: 0;
    background: #282a36;
    color: #72767b;
  }
  .el-drawer__body {
    padding: 0;
    margin: 0;
  }
  .i-website__json-editor {
    & > .monaco-editor {
      height: calc(100vh - 110px);
    }
  }
}
.i-website__menu__logo {
  height: 60px;
}
.i-website-doc {
  .i-card__footer {
    padding: 0;
    .el-button {
      width: 100%;
      border: 0;
    }
  }
}
.i-website-doc__next-section {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.el-menu--popup {
  max-height: 60vh !important;
  overflow-y: scroll;
}
.el-loading-spinner {
  cursor: not-allowed;
  .circular {
    background-image: url("../../public/loading.svg");
    background-position: center;
    background-size: cover;
    animation: none;
  }
  .path {
    display: none;
  }
}

@keyframes grow {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.i-website__router__loader {
  height: 3px;
  top: 0;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #409eff;
    transform-origin: 0 50%;
    animation: grow 1s ease-out;
  }
  .el-loading-spinner {
    display: none;
  }
}
