$i-monaco-primary: #282a36 !default;

.i-website-app__container {
  height: 100vh;
  overflow: hidden;
}
.i-website__header {
  position: relative;
  border-bottom: 1px solid var(--el-bg-color-page);
  line-height: 60px;
  text-align: left;
  font-size: 12px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  z-index: 1;
  .el-button {
    border: 0;
  }
  .i-action__avatar {
    background: transparent;
  }
  .i-avatar__container {
    margin-left: 20px;
    vertical-align: middle;
    img {
      width: 40px;
    }
  }
  .i-dropdown__container {
    vertical-align: middle;
  }
  .el-color-picker__trigger {
    width: 18px;
    height: 18px;
    padding: 0;
    border: 0;
    border-radius: 0;
    .el-color-picker__color {
      border: 0;
    }
    .el-color-picker__color-inner {
      display: block;
    }
  }
}
.i-website__header__service {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.i-website__aside {
  position: relative;
  height: 100%;
  background: var(--i-menu-background-color);
  transition: 0.3s width ease-in-out;
  .i-website__ads {
    position: fixed;
    bottom: 0;
    width: 200px;
    height: 50px;
    padding: 5px 8px;
    background: var(--i-menu-background-color);
    overflow: hidden;
    transition: 0.3s width ease-in-out;
    text-align: center;
    .is-text {
      margin-top: -35px;
      margin-left: 10px;
    }
    .i-render__container {
      width: 100%;
      height: 40px;
      border-radius: 4px;
      line-height: 40px;
      text-align: center;
      font-size: 12px;
      background: var(--el-fill-color-blank);
      cursor: pointer;
    }
  }
  &.width-64 {
    .i-website__ads {
      width: 0 !important;
    }
  }
  &::-webkit-scrollbar {
    width: 0;
  }
  .el-menu {
    border-right: 0;
  }
  .i-website_menu-vertical {
    margin-bottom: 50px;
  }
  .i-wrapper__container {
    position: relative;
    &.i-website__ads {
      position: fixed;
      bottom: 0;
      width: 200px;
      height: 50px;
      padding: 5px 8px;
      background: var(--i-menu-background-color);
      overflow: hidden;
      transition: 0.3s width ease-in-out;
      .i-render__container {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        line-height: 40px;
        text-align: center;
        font-size: 12px;
        background: var(--el-fill-color-blank);
        cursor: pointer;
      }
    }
  }
}
.i-website__footer {
  height: 50px;
  border-top: 1px dashed var(--el-border-color);
  line-height: 50px;
  text-align: center;
  color: var(--el-text-color-secondary);
  .i-html__container {
    width: 100%;
    height: 100%;
    text-align: center;
  }
}
.i-website__breadcrumb {
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}
.i-website__drawer {
  .el-drawer__header {
    height: 100%;
    padding: 0;
    display: block;
    background-color: unset;
    .i-editor__container__tools {
      padding-right: 50px;
    }
    .el-drawer__close-btn {
      position: absolute;
      top: 8px;
      right: 10px;
      z-index: 100;
    }
  }
  .el-drawer__body {
    padding: 0;
    margin: 0;
  }
}
.i-website__setting__container {
  padding-bottom: 50px;
}
.el-menu--popup {
  max-height: 60vh !important;
  overflow-y: scroll;
}
.i-website__header__upload {
  &.el-popover.el-popper {
    padding-bottom: 0;
  }
}
.i-website-intro {
  position: relative;
  background-color: transparent;
  padding: 0 30px 0 80px;
  box-shadow: unset;
  .el-dialog__header {
    position: relative;
    background-color: transparent;
    border-bottom: 0;
  }
  .el-dialog__title {
    position: absolute;
    left: 50%;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: var(--el-color-black);
    transform: translate(-50%, 60px);
  }
  .el-dialog__footer {
    display: none;
  }
  .i-website-intro__teacher {
    position: absolute;
    width: 150px;
    margin: -80px 0 0 0;
  }
  .i-static__container {
    margin: 80px 0 80px 0;
    padding-left: 200px;
  }
  .i-static__item {
    font-size: 16px;
    font-weight: 500;
  }
}
@keyframes grow {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.el-loading-mask .el-loading-spinner {
  margin-top: calc((0 - var(--el-loading-spinner-size)) / 2);
}
.i-website__router__loader {
  height: 2px;
  top: 0;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: var(--el-color-primary);
    transform-origin: 0 50%;
    animation: grow 1s ease-out;
  }
  .el-loading-spinner {
    top: 30px;
    cursor: not-allowed;
    .circular {
      position: absolute;
      top: 0;
      right: 0;
      left: unset;
      height: 25px !important;
      width: 25px !important;
      display: inline;
      background-image: url('../../public/circle.svg');
      background-position: center;
      background-size: cover;
      animation: loading-rotate 2s linear infinite;
      transform: unset;
    }
    .path {
      display: block;
      animation: loading-dash 1.5s ease-in-out infinite;
      stroke-dasharray: 90,150;
      stroke-dashoffset: 0;
      stroke-width: 4;
      stroke: var(--el-color-primary);
      stroke-linecap: round;
    }
  }
}
