.umis-website__header__wrapper {
  width: 100%;
  z-index: 21;
}
.umis-website__nav-fixed {
  position: fixed;
  top: 0;
  height: 100vh;
  background: #3a3f51;
  z-index: 10;
  overflow-y: auto;
  transition: 0.3s width ease-in-out;
  &::-webkit-scrollbar {
    width: 0;
  }
  .el-menu {
    border-right: 0;
  }
}
.umis-website__goto-edit {
  position: fixed;
  bottom: 100px;
  right: 100px;
  z-index: 9999;
}
.umis-website__nav-poppet {
  height: 100%;
  background: #3a3f51;
  transition: 0.3s width ease-in-out;
}
.umis-website__header {
  position: relative;
  height: 60px;
  border-bottom: 1px solid #dcdfe6;
  line-height: 60px;
  text-align: left;
  font-size: 12px;
  background: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  .el-button {
    border: 0 !important;
  }
  .umis-website__header__main {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .umis-website__header__logo {
    height: 60px;
    color: white;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    background: #3a3f51;
    transition: 0.3s width ease-in-out;
  }
}
.umis-website__menu__logo {
  height: 60px;
}
.umis-website__main {
  overflow: hidden !important;
  &.preview {
    padding: 0;
  }
}
.umis-website__drawer {
  background-color: #282a36 !important;
  .el-drawer__header {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 20px 20px 15px 20px;
    border-bottom: 0;
    background: #282a36;
    color: #72767b;
  }
  .umis-popup__container__body {
    padding: 0;
    margin: 0;
  }
  .monaco-editor {
    height: calc(100vh - 110px);
  }
}
.umis-website__code-viwer {
  height: 200px;
  padding: 10px 20px;
  .monaco-editor {
    height: 180px;
  }
}
.umis-website-doc {
  .umis-card__footer {
    padding: 0;
    .el-button {
      width: 100%;
      border: 0;
    }
  }
}
.umis-website_menu-vertical:not(.el-menu--collapse) {
  width: 200px;
}
.el-loading-spinner {
  cursor: not-allowed;
  .circular {
    background-image: url('/img/loading.svg');
    background-position: center;
    background-size: cover;
    animation: loading-rotate 1s linear infinite;
    animation-direction: reverse;
  }

  .path {
    display: none;
  }
}
